td, tr{
    padding: 5px;
}

p label {
    display: inline-block;
    width: 130px;
}

a {
    text-decoration: none;
}

div.displayInline {
    display:inherit;
}

div.displayInlineDescription {
    display:inherit;
    border: solid black 2px;
    margin-left: 15px;
}

div.displayMain {
    display:inline-block;
}

